<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atlas de la forêt</title>
    <!-- Charger le tag static -->
     {% load static %}
    <!-- Tailwind CSS-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              forest: {
                100: '#e8f5e9',
                200: '#c8e6c9',
                300: '#a5d6a7',
                400: '#81c784',
                500: '#66bb6a',
                600: '#4caf50',
                700: '#43a047',
                800: '#388e3c',
                900: '#2e7d32'
              }
            }
          }
        }
      }
    </script>
    <style>
      .card {
        display: flex;
        flex-direction: column;
        box-shadow: 1.25rem 1.25rem lightblue;
      }
    </style>
  </head>
  <body class="bg-forest-100 font-sans">
    <nav class="bg-forest-700 text-white p-4 shadow-lg" role="navigation" aria-label="main navigation">
      <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <h1 class="text-2xl font-bold">Atlas de la forêt | La Réunion</h1>
        <div class=" flex flex-col md:flex-row mt-4 md:mt-0 space-y-2 md:space-y-0 md:space-x-6">
          <a href="{% url 'index' %}" class="hover:text-forest-200 transition duration-300 focus:underline">Accueil</a>
          <a href="{% url 'forest' %}" class="hover:text-forest-200 transition duration-300 focus:underline">Domaine forestier</a>
          <a href="{% url 'rando' %}" class="hover:text-forest-200 transition duration-300 focus:underline">Randonnées</a>
        </div>
      </div>
    </nav>
    
    <main class="container max-auto px-4 py-8">
      <h1 class="text-4xl font-bold text-forest-800 text-center mb-12">Atlas des forêts à La Réunion</h1>
      <!--Grille-->
      <div class="grid md:grid-cols-2 gap-8">
        <!--Card 1-->
        <div class="bg-white rounded-lg shadow-xl overflow-hidden transform hover:scale-105 transition duration-300">
          <div id="card-head" class="bg-forest-500 text-white p-4">
            <h2 class="text-2xl font-semi-bold p-2">Le domaine forestier public</h2>
          </div>
          <div id="card-body" class="p-6">
            <div class="bg-gray-200 w-full h-48 mb-4 flex items-center justify-center" role="img" aria-label="Image de la forêt" >
              <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="forest" class="object-cover w-full h-full">
            </div>
            <p class="bg-forest-300 mb-4 p-4">Carte interactive du domaine forestier public de La Réunion</p>
            <a href="{% url 'forest' %}" class="inline-block bg-forest-600 text-white px-6 py-2 rounded-full hover:bg-forest-700 transition duration-300">Voir</a>
          </div>
        </div>
        <!--Card 2-->
        <div class="bg-white rounded-lg shadow-xl overflow-hidden transform hover:scale-105 transition duration-300">
          <div id="card-head" class="bg-forest-500 text-white p-4">
            <h2 class="text-2xl font-semi-bold p-2">Les sentiers de randonnées</h2>
          </div>
          <div id="card-body" class="p-6">
            <div class="bg-gray-200 w-full h-48 mb-4 flex items-center justify-center" role="img" aria-label="Image de la forêt" >
              <img src="https://images.unsplash.com/photo-1526772662000-3f88f10405ff?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="randonnée" class="object-cover w-full h-full">
            </div>
            <p class="bg-forest-300 mb-4 p-4">Carte interactive des circuits de randonnées de La Réunion classées par niveau de difficulté</p>
            <a href="{% url 'rando' %}" class="inline-block bg-forest-600 text-white px-6 py-2 rounded-full hover:bg-forest-700 transition duration-300">Voir</a>
          </div>
        </div>
        <!--Card 3-->
        <div class="bg-white rounded-lg shadow-xl overflow-hidden transform hover:scale-105 transition duration-300">
          <div id="card-head" class="bg-forest-500 text-white p-4">
            <h2 class="text-2xl font-semi-bold p-2">Le relief à La Réunion</h2>
          </div>
          <div id="card-body" class="p-6">
            <div class="bg-gray-200 w-full h-48 mb-4 flex items-center justify-center" role="img" aria-label="Image de la forêt" >
              <img src="https://images.unsplash.com/photo-1526772662000-3f88f10405ff?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="randonnée" class="object-cover w-full h-full">
            </div>
            <p class="bg-forest-300 mb-4 p-4">Carte interactive avec l'API REST ArcGIS</p>
            <a href="{% url 'arcmap' %}" class="inline-block bg-forest-600 text-white px-6 py-2 rounded-full hover:bg-forest-700 transition duration-300">Voir</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
