<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carte de La Réunion</title>
    <!--Leaflet-->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              forest: {
                100: '#e8f5e9',
                200: '#c8e6c9',
                300: '#a5d6a7',
                400: '#81c784',
                500: '#66bb6a',
                600: '#4caf50',
                700: '#43a047',
                800: '#388e3c',
                900: '#2e7d32'
              }
            }
          }
        }
      }
    </script>
    <style>
      .legend span {
        display: inline-block;
        width: 2.5rem;
        height: 1.25rem;
        margin-right: 5px;
        border: 1px solid black;
      }
    </style>
  </head>
  <body class="bg-forest-100 font-sans">
    <nav class="bg-forest-700 text-white p-4 shadow-lg" role="navigation" aria-label="main navigation">
      <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <h1 class="text-2xl font-bold">Atlas de la forêt | La Réunion</h1>
        <div class=" flex flex-col md:flex-row mt-4 md:mt-0 space-y-2 md:space-y-0 md:space-x-6">
          <a href="{% url 'index' %}" class="hover:text-forest-200 transition duration-300 focus:underline">Accueil</a>
          <a href="{% url 'forest' %}" class="hover:text-forest-200 transition duration-300 focus:underline">Domaine forestier</a>
          <a href="{% url 'rando' %}" class="hover:text-forest-200 transition duration-300 focus:underline">Randonnées</a>
        </div>
      </div>
    </nav>
    <main>
      <h1>Carte des sentiers de randonnées à La Réunion</h1>
      <div id="map" style="height: 600px"></div>
      <p>Source : Les principaux circuits de randonnées de La Réunion - SOUBIK - Système d'Information Touristique (SIT) de l'île de La Réunion </p>
  
      <!--Debug : Afficher les données JSON-->
      <pre>{{ data|safe }}</pre>
    </main>
  
    <!--Incorporer les données JSON dans un script-->
    <script id="data-json" type="application/json">
      {{ data|safe }}
    </script>

    <script>
      var map = L.map('map').setView([-21.115141, 55.536384], 10);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 18,
      }).addTo(map);

      // Données des randonnées passées par Django
      var dataElement = document.querySelector('#data-json');
      var data = JSON.parse(dataElement.textContent);

      // Définir des icônes personnalisées en fonction de la difficulté
      const getMarkerIcon = (difficulty) => {
        let color;
        switch (difficulty) {
          case '1':
            color = 'green'; // Facile
            break;
          case '2':
            color = 'orange'; // Moyenne
            break;
          case '3':
            color = 'red'; // Difficile
            break;
          case '4':
            color = 'black'; // Très difficile
            break;
          default:
            color = 'blue'; // Autre
        }
      return L.icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-' + color + '.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
      })
    }

      // Ajouter les points de randonnées sur la carte
      data.forEach((rando) => {
        if (rando.location && rando.location.lat && rando.location.lon) {
          var marker = L.marker([rando.location.lat, rando.location.lon], { icon: getMarkerIcon(rando.difficulte)});
          marker.addTo(map);

          // Popup associé au marqueur
          marker.bindPopup('<b>' + rando.nom + '</b><br>'+
                            'Difficulté: ' + rando.difficulte + '<br>' +
                            'Distance: ' + rando.distance_parcourue + ' km<br>' +
                            'Durée: ' + rando.duree_minutes_total + ' min<br>' +
                            'Zone: ' + rando.zone_translations_item_nom + '<br>' + 
                            'Altitude min: '+ rando.altitude_min + " m<br>" +
                            'Altitude max: ' + rando.altitude_max + ' m<br>' +
                            'Ouvert: ' + rando.is_ouvert);
        } else {
          console.log('Coordonnées invalides pour la randonnée :', rando);
        }
      });

      // Ajouter la légende à la carte
      var legend = L.control({position: 'bottomright'});

      legend.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'info legend');
        var grades = ['1', '2', '3', '4'];
        var labels = ['<strong>Difficulté</strong>'];

        grades.forEach((grade) => {
          let color;
          let level;
          switch (grade) {
            case '1':
              color = 'green'; // Facile
              level = 'facile';
              break;
            case '2':
              color = 'orange'; // Moyenne
              level = 'moyenne';
              break;
            case '3':
              color = 'red'; // Difficile
              level = 'difficile';
              break;
            case '4':
              color = 'black'; // Très difficile
              level = 'très difficile';
              break;
            default:
              color = 'blue'; // Autre
              level = 'autre';
          }

          var icon = getMarkerIcon(grade);

          labels.push(
            '<span style="background-color:' + color + ' ;"></span>' + grade + " " + level
          );
        });

        div.innerHTML = labels.join('<br>');
        return div;
      }

      legend.addTo(map);

    </script>
   
  </body>
</html>
